.hello{
  background-color: aqua; 
  width: 600px;
  height: 500px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.red{
  color: red;
 
}
#font{
  font-size: 25px;
}
.back{
  background-color: rgb(77, 230, 6);
}
h1{
  text-align: center;
  font-size: 20px;
}
button{
  height: 50px;
  width: 100px;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 250px;
}
.list{
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
/*style for rating component*/
.container{
  width: 40%;
  border: 7px solid orchid;
  display: flex;
  flex-direction: column;
  align-items: center;

}
textarea{
 margin-top: 30px;
  width: 80%;
  
  height: 150px;
}
/* change color to yellow*/
.yellow{
  color: yellow;
}